#wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.section {
  position: relative;
  height: 100vh;
  > img {
    position: relative;
    width: 100%;
    margin-top: -10vh;
    z-index: 10;
  }
  // > span {
  //   position: absolute;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   z-index: 11;
  //   > img {
  //     max-width: none;
  //   }
  //   &.sec4_title {
  //     top: 13%;
  //   }
  //   &.sec4_swipe {
  //     top: 36%;
  //     transform: translateX(-24%);
  //   }
  //   &.sec4_btn {
  //     bottom: 15%;
  //   }
  // }
}
#visual {
  img {
    margin-top: 0;
  }
}

.sc {
  width: 100vw;
  height: 100vh;

  &__wrapper {
    // #visual {
    //   background:url('../../images/visual.png')center no-repeat;
    // }
    // #section1 {
    //   background:url('../../images/section1.png')center no-repeat;
    // }
    // #section2 {
    //   background:url('../../images/section2.png')center no-repeat;
    // }
    // #section3 {
    //   background:url('../../images/section3.png')center no-repeat;
    // }
  }
}
// #section4 {
//   background:url('../../images/section4.png')center no-repeat;
// }
// #section5 {
//   background:url('../../images/section5.png')center no-repeat;
// }

// #section4, #section5 {
//   img{
//     position: relative;
//     margin-top:-5vh;
//     z-index: 10;

//   }
// }
// #section5 {
//   height:105vh;
// }
