#wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.section {
  position: relative;
  height: 100vh;
  > img {
    margin-top: -10vh;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 10;
    object-fit: cover;
  }
  // &:nth-child(4) {
  //   > img {
  //     margin-top: -5vh;
  //   }
  // }
  // > span {
  //   position: absolute;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   z-index: 11;
  //   > img {
  //     max-width: none;
  //   }
  //   &.sec4_title {
  //     top: 13%;
  //   }
  //   &.sec4_swipe {
  //     top: 36%;
  //     transform: translateX(-24%);
  //   }
  //   &.sec4_btn {
  //     bottom: 15%;
  //   }
  // }
}
#visual {
  img {
    margin-top: 0;
  }
}
